[submodule "script.module.urlresolver"]
	path = script.module.urlresolver
	url = https://github.com/nkvoronov/script.module.urlresolver.git
	branch = vmatrix
[submodule "script.module.selenium"]
	path = script.module.selenium
	url = https://github.com/nkvoronov/script.module.selenium.git
	branch = vmatrix
[submodule "script.module.webvideonodes"]
	path = script.module.webvideonodes
	url = https://github.com/nkvoronov/script.module.webvideonodes.git
	branch = vmatrix
[submodule "plugin.image.pdf2reader"]
	path = plugin.image.pdf2reader
	url = https://github.com/nkvoronov/plugin.image.pdf2reader.git
	branch = vmatrix
[submodule "script.module.pdf2image"]
	path = script.module.pdf2image
	url = https://github.com/nkvoronov/script.module.pdf2image.git
	branch = vmatrix
