[submodule "script.module.urlresolver"]
	path = script.module.urlresolver
	url = https://github.com/nkvoronov/script.module.urlresolver.git
	branch = v5.0.20
[submodule "script.module.selenium"]
	path = script.module.selenium
	url = https://github.com/nkvoronov/script.module.selenium.git
	branch = master
[submodule "script.module.webvideonodes"]
	path = script.module.webvideonodes
	url = https://github.com/nkvoronov/script.module.webvideonodes.git
	branch = master
